{% extends "ordersapp/base.html" %}
{% load static %}

{% block content %}
    {% include 'ordersapp/includes/inc_order_summary.html' %}
    <div class="basket_list">
        {% for item in object.orderitems.select_related %}
            <div class="basket_record">
                <img src="{{ item.product.pictures.all.0.image.url }}" alt="{{ item.product.description }}">
                <span class="category_name">{{ item.product.category.title }}</span>
                <span class="product_name">{{ item.product.title }}</span>
                <span class="product_price">{{ item.product.prices.all.0.value }}&nbspруб</span>
                <span class="product_quantitiy">x {{ item.quantity }} шт.</span>
                <span class="product_cost"> = {{ item.get_product_cost }}&nbspруб</span>
            </div>
        {% endfor %}
    </div>
    {% include 'ordersapp/includes/inc_order_actions.html' %}

{% endblock %}
