{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Удалить аватарку' %}
{% endblock head %}

{% block container %}
     <div class="hero">
	    {% include 'basket/includes/header.html' with hello=1 %}
		<h1>{% trans 'Удаление аватарки' %}</h1>
    </div>

    <div class="details-slider">
        <div class="slider-product"><img src="{{object.image.url}}" style="max-width:100%;max-height:100%;"></div>
    </div>
    <div class="description" style="text-align:center">
        <form method="post">
            {% csrf_token %}
            <button type="submit" >{% trans 'Удалить?' %}</button>
        </form>
    </div>
{% endblock container %}