{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Аватарка' %}
{% endblock head %}

{% block container %}
     <div class="hero">
	    {% include 'basket/includes/header.html' with hello=1 %}
		<h1>{% trans 'Загрузить аватарку' %}</h1>
    </div>
    <div class="center" style="text-align:center;">
        <form method="post" style="text-align:left;margin:auto;display:inline-block;" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="{% trans 'Сохранить' %}">
        </form>
    </div>
{% endblock container %}