{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Вход' %}
{% endblock head %}

{% block container %}
    <div class="hero">
	    {% include 'basket/includes/header.html' with hello=1 %}
        {% include 'basket/includes/snippets/messages.html' %}
		<h1>{% trans 'Вход в профиль' %}</h1>
    </div>
    <div class="center" style="text-align:center;">
        <form action="{% url 'accounts:login' %}" method="post" >
            {% csrf_token %}
            {{form}}
        <input type="submit" name="{% trans 'Войти' %}">
        </form>
        <a href="{% url 'accounts:password_reset' %}">Забыли пароль? Сбросьте его!</a>
        <br>
        <button class="btn btn-round form-control">
            <a href="{% url 'accounts:register' %}" class="">
                Зарегистрироваться
            </a>
        </button>
        <br>
        <button class="btn btn-round form-control">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
                Google+ sign in
            </a>
        </button>

    </div>

{% endblock container %}