{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{% include 'basket/includes/head.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Домой' %}</a>
&rsaquo; {% trans 'Сброс пароля' %}
</div>
{% endblock %}

{% block title %}{% trans 'Сброс пароля' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Сброс пароля' %}</h1>{% endblock %}
{% block content %}

<p>{% trans "Мы сбросили инструкции установки нового пароля на указанный вами адрес электронной почты (конечно, если существует аккаунт с этой почтой)." %}</p>

<p>{% trans "Если вы не получили письмо, то убедитесь, что вы верно указали ваш адрес электронной почты, и проверьте папку спама." %}</p>

{% endblock %}
