{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{% include 'basket/includes/head.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Домой' %}</a>
&rsaquo; {% trans 'Сброс пароля' %}
</div>
{% endblock %}

{% block title %}{% trans 'Сброс пароля' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Сброс пароля' %}</h1>{% endblock %}

{% block content %}

<p>{% trans "Ваш новый пароль был установлен.  Используйте его для входа в систему." %}</p>

<p><a href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a></p>

{% endblock %}
