{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{% include 'basket/includes/head.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Домой' %}</a>
&rsaquo; {% trans 'Подтверждение сброса пароля' %}
</div>
{% endblock %}

{% block title %}{% trans 'Подтверждение сброса пароля' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Подтверждение сброса пароля' %}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Пожалуйста, введите ваш пароль дважды, чтобы мы могли проверить, что вы его ввели правильно." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'Новый пароль:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Подтвердите пароль:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% trans 'Изменить мой пароль' %}">
</fieldset>
</form>

{% else %}

<p>{% trans "Ссылка на сброс пароля не валидна, возможно, потому что она уже была использована." %}</p>

{% endif %}

{% endblock %}
