{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{% include 'basket/includes/head.html' %}
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Домой' %}</a>
&rsaquo; {% trans 'Сброс пароля' %}
</div>
{% endblock %}

{% block title %}{% trans 'Сброс пароля' %}{% endblock %}
{% block content_title %}<h1>{% trans 'Сброс пароля' %}</h1>{% endblock %}
{% block content %}

<p>{% trans "Забыли свой пароль? Введите свой email адрес и мы вышлем инструкции на него для установки нового пароля." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Адрес электронной почты:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Сбросить мой пароль' %}">
</fieldset>
</form>

{% endblock %}
