{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Регистрация' %}
{% endblock head %}

{% block container %}
    <div class="hero">
	    {% include 'basket/includes/header.html' with hello=1 %}
		<h1>{% trans 'Регистрация пользователя' %}</h1>
    </div>
    <div class="center" style="text-align:center;">
        <form action="{% url 'accounts:register' %}" method="post" >
            {% csrf_token %}
            {{ register_form.as_p }}
        <input type="submit" name="{% trans 'Зарегистрироваться' %}">
        </form>
    </div>

{% endblock container %}