{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Редактировать профиль' %}
{% endblock head %}

{% block container %}
    <div class="hero">
	    {% include 'basket/includes/header.html' with hello=1 %}
		<h1>{% trans 'Редактирование профиля' %}</h1>
    </div>

    <div class="center" style="text-align:center;">
        <form action="{% url 'accounts:edit' %}" method="post" style="text-align:left;margin:auto;display:inline-block;">
            {% csrf_token %}
            {{ edit_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="{% trans 'Сохранить изменения' %}">
        </form>
    </div>
    <div class="details-slider">
        {% include 'accounts/includes/snippets/pic_gallery.html' with images=object.pictures.all %}
    </div>
{% endblock container %}