{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Профиль' %}
{% endblock head %}

{% block container %}
        <div class="hero">
	        {% include 'basket/includes/header.html' with hello=1 %}
		    <h1>{% trans 'Профиль пользователя' %}</h1>
        </div>

        <div class="details">

                {% if object %}
                        <div class="details-products">
                                <div class="details-slider">
                                        {% with images=object.pictures.all  %}
                                                <div class="slider-product"><img src="{{images.0.image.url}}" style="max-width:100%;max-height:100%;"></div>
                                                {% include 'accounts/includes/snippets/pic_gallery.html' with images=images %}
                                        {% endwith %}
                                </div>

                                <div class="description">
                                        <h3>{{user.first_name|default:user.username}}</h3>
                                        <h3>{{user.second_name|default:''}}</h3>
                                        <p>{{user.email}}</p>
                                        <div class="description-text">
                                                {{user.description|default:''|linebreaks}}
                                        </div>
                                        <a href="{% url 'accounts:edit' %}" class="{{button_order_cls}}">{% trans 'Редактировать' %}</a>
                                </div>
                        </div>
                {% endif %}
        </div>
{% endblock container %}