{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Верификация' %}
{% endblock head %}

{% block container %}
    <div class="hero">
	    {% include 'basket/includes/header.html' with hello=1 %}
		<h2>{% trans 'Верификация пользователя' %}</h2>
    </div>
    <div class="center" style="text-align:center;">
        {% if user %}
            <h3>Поздравляем!</h3>
            <br>
            <h4>Пользователь {{user.username}} подтвержден.</h4>
        {% else %}
            <h3>Верификация не пройдена.</h3>
        {% endif %}
        <br>
        <button class="btn btn-round form-control">
            <a href="{% url 'basket:mainView' %}" class="">
                на главную
            </a>
    </button>
    </div>

{% endblock container %}