@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/basket1/fonts/RobotoCondensed-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
}


.button_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    background-color: #323334;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    border: none;
}

.button_link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.button_link:active {
    box-shadow: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    /*min-height: 100vh;*/
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex: 1;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 100%;
    min-height: 140px;
    justify-content: space-between;
    align-items: center;
    background-color: #323334;
}


.header a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
.header ul {
    list-style-type: none;
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
}

.header a:hover {
    color: #A188C3;
}

.empty_block {
    min-width: 50px;
}

.log_menu {
    display: flex;
    flex-direction: column;
}

.basket {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.basket a:first-child {
    margin-bottom: 5px;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products img {
    margin: 10px;
    max-width: 40%;
    height: auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    min-height: 70px;
    background-color: #323334;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%;
}


.icon_links {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
}

.icon_links a {
    color: aliceblue;
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.icon_links a:hover {
    color: #A188C3;
}

.terms {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terms a {
    color: aliceblue;
    text-decoration: none;
}

.terms a:hover {
    color: #A188C3;
}

.catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue a {
    display: flex;
    margin: 10px;
}

.catalogue a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catalogue div {
    display: flex;
    flex-direction: row;
}

.catalogue .block {
    display: flex;
    flex-direction: column;
}

.catalogue .block p {
    margin-left: 10px;
}

.catalogue .block span{
    font-weight: bold;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.contacts h1 {
    padding-bottom: 10px;
}

.contacts input[type="text"],input[type="email"] {
    width: 340px;
    height: 30px;
    margin: 10px 0px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

/*.contacts form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/

.contacts select {
    width: 356px;
    height: 30px;
    margin: 10px 0px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.contacts textarea {
    width: 350px;
    margin: 10px 0px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.contacts textarea:focus {
    border-style: solid;
    border-color:cornflowerblue;  
}

.submit {
    display: flex;
    width: 356px;
    height: 30px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.product {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sneakers {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: center;
}

.sneakers img {
    max-width: 40%;
    height: auto;
}

.desc h4, p {
    padding: 5px 0px;
}

.desc {
    margin-left: 30px;
}

.center {
    display: flex;
    justify-content: center;
    margin: 40px;
    flex: 1;
}
.create_form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-content: center;
}

.create_form input {
    margin-top: 10px;
}

.auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;

}


.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.login input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 340px;
    height: 30px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 340px;
    height: 30px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}