{% load staticfiles %}
{% load i18n %}

<div class="block">
    <a href="{% url 'basket:prodDetailView' product.id %}"><img src="{{product.pictures.all.0.image.url}}" alt="{{product.maker.title}}"></a>
    <p><span>{{product.maker.title}}</span></p>
    <p>{{product.title}}</p>
</div>
