{% load i18n %}
    <div class="footer">
        <div class="clearfix">
            <div class="text-footer">
                <h3>{% trans 'контакты' %}</h3>
            </div>
            <div class="text-footer">
                <a href="/additional/about/"><h3 class="active">{% trans 'полезная информация' %}</h3></a>
            </div>
            <div class="text-footer clearfix">
                <h3>{% trans 'Оставайтесь на связи' %}</h3>
                <p>{% trans 'Подписаться на новости и рассылки' %}</p>
                <form>
                    <input type="email" name="email" placeholder="ваш email">
                    <a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
                </form>
            </div>
        </div>
        <p class="small">&copy; GB 2017</p>
        <div class="social">
            <a href="#" class="social1"></a>
            <a href="#" class="social2"></a>
            <a href="#" class="social3"></a>
            <a href="#" class="social4"></a>
        </div>
        <p class="small"><a href="/additional/rules">{% trans 'Положения &amp; Условия' %}  /  {% trans 'Конфиденциальность' %} &amp; Cookies</a></p>
    </div>