{% load i18n %}
<div class="header clearfix">
				<a href="{% url 'basket:mainView' %}" class="logo"></a>
				<ul class="menu">
					{% if user.is_authenticated %}
						<li>
			            	<div class="dropdown">
                				<a class="dropdown-toggle" href="" data-toggle="dropdown">
                    				{{user.first_name|default:user.username}}
                    				<span class="caret"></span>
                				</a>
                				<ul class="dropdown-menu">
                    				<li>
                        				<a href="{% url 'accounts:profile' %}">
                            				профиль
                        				</a>
                    				</li>
                    				<li>
										<a href="{% url 'ordersapp:orders_list' %}">
                            				заказы
                        				</a>
                    				</li>
                				</ul>
            				</div>
        				</li>
					{% endif %}
					<li><a href="{% url 'basket:mainView' %}" {%if home %}class="active"{% endif %}>{% trans 'домой' %}</a></li>
					<li><a href="{% url 'basket:prodView' 1 %}" {%if prod %}class="active"{% endif %}>{% trans 'продукты' %}</a></li>
					<li><a href="{% url 'basket:contView' %}" {%if cont %}class="active"{% endif %}>{% trans 'контакты' %}</a></li>
					{%if not user.is_authenticated %}<li><a href="{% url 'accounts:login' %}">{% trans 'Log in' %}</a></li>{% endif %}
					{%if user.is_authenticated %}<li><a href="{% url 'accounts:logout' %}">{% trans 'Log out' %}</a></li>{% endif %}
					{%if user.is_superuser %}<li><a href="{% url 'admin:index' %}">{% trans 'admin panel' %}</a></li>{% endif %}
				</ul>
				<a href="#" class="search"></a>
				{%if user.is_authenticated %}
					<a href="{% url 'basket:basketView' %}" class="basket">
						<span>
        					{% if invoice %}
            					{{ invoice.get_total_sum|floatformat:0 }} руб
        					{% endif %}
    					</span>
					</a>
				{% endif %}
</div>