{% load static i18n %}
<head>
	<meta charset="utf-8">
	<title>{% trans name %}</title>
	<link href="{% static 'basket/img/favicon.ico' %}" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{% static 'basket/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'basket/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'basket/fonts/font-awesome/css/font-awesome.css' %}">
	{% block js %}
		<script src="{% static 'basket/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'basket/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'basket/js/basket_scripts.js' %}"></script>
    {% endblock %}
</head>