{% load static i18n %}
                        <div class="block">
                            <a href="{% url 'basket:prodDetailView' product.id %}"><img {%if home %}class="tab-content-img"{% endif %} src="{{product.pictures.all.0.image.url}}" alt="">
                                <div class="text">
                                    <img src="{% static 'basket/img/icon-hover.png' %}" alt="img">
                                    <h4>{{product.title}}</h4>
                                    <p>{{product.description}} </p>
                                </div>
                            </a>
                        </div>
