{% load static i18n invoice_tags %}

        {% if invoice %}
            <div class="basket_container">
            <div class="basket_list">
                <p>{% trans 'Счёт' %}: {{invoice.title}}</p>
                    {% for order in orders %}
                    <div class="basket_record">
                        <img src="{{ order.ware.pictures.all.0.image.url }}" alt="{% get_product_description order %}">
                        <span class="category_name">{{ order.ware.category.title }}</span>
                        <span class="product_name">{{ order.ware.title }}</span>
                        <span class="product_price">{{ order.ware.prices.all.0.value }}&nbspруб x</span>
                        <input type="number" name="{{ order.pk }}" min="0" value="{{ order.counts }}">
                        <span class="product_cost">шт. = {{ order.product_cost }}&nbspруб</span>
                        <button class="btn btn-round">
                            <a href="{% url 'basket:deleteProductFromOrder' order.pk %}" class="">
                                удалить
                            </a>
                        </button>
                    </div>
                    {% endfor %}
                <p>{% trans 'СТОИМОСТЬ ЗАКАЗА' %}: {{invoice.get_total_sum}}</p>
                <p>{% trans 'КОЛИЧЕСТВО ВЕЩЕЙ' %}: {{invoice.get_total_counts}}</p>
                <p><a href="{% url 'ordersapp:order_create' %}">Создать заказ</a></p>
            </div>
            </div>
        {% else %}
            <p>{% trans 'Ваша корзина пуста' %}</p>
        {% endif %}