{% load static i18n %}

<div class="links clearfix">
    <ul class="links-menu">
        <li><a href="{% url 'basket:prodView' 1 %}" {% if cat_id == None %}class="active"{% endif %}>все</a></li>
        {% for cat in category %}
            <li><a href="{% url 'basket:prodCategoryView' cat.id 1 %}" {% if cat_id == cat.id %}class="active"{% endif %}>{% trans cat.title %}</a></li>
        {% endfor %}
    </ul>
</div>
