{% load i18n %}
<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>{% trans 'Москва' %}</h4>
				<div class="contacts">
					<h5>{% trans 'Телефон' %}</h5>
					<p>{{contact.telephone}}</p>
				</div>
				<div class="contacts">
					<h5>{% trans 'Email' %}</h5>
					<p>{{contact.email}}</p>
				</div>
				<div class="contacts">
					<h5>{% trans 'Адрес' %}</h5>
					<p>{{contact.address}}</p>
				</div>
			</div>