{% load static i18n %}

				<div class="details-slider">
					<div class="slider-product">
						<img class="slider-product-img" src="{{product.pictures.all.0.image.url}}">
					</div>
					<div class="slider-control">
						{% include 'basket/includes/controll.html' with controll_ref=product.pictures.all.0.image.url %}
						{% include 'basket/includes/controll.html' with controll_ref=product.pictures.all.0.image.url %}
						{% include 'basket/includes/controll.html' with controll_ref=product.pictures.all.0.image.url %}
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{% trans product.title %}</h3>
					<h3 class="red">{% trans 'горячее предложение' %}</h3>
					<p class="price"> {{product.prices.all.0.value}} <span>{% trans 'руб' %}</span></p>
					<a href="{% url 'basket:orderProductView' product.id %}" class="red-button">
						{%trans 'заказать' %} <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{% trans product.description %}</p>
						<p>{% trans 'Отличное качество материалов позволит вам это.' %}</p>
						<p>{% trans 'Различные цвета' %}</p>
						<p>{% trans 'высочайший уровень эргономики и прочность.' %}</p>
					</div>
			    	{%if product %}
    	        		{%if user.is_superuser or user.is_staff %}<a href="{% url 'basket:updateProductView' product.id %}">{% trans 'Изменить' %}</a>{% endif %}
        			{% endif %}
					<p></p>
					{%if product %}
            			{%if user.is_superuser or user.is_staff %}<a href="{% url 'basket:delProductView' product.id %}">{% trans 'Удалить' %}</a>{% endif %}
        			{% endif %}
				</div>