{% if object.status == 'FM' %}
    <form method="post" action="{% url 'ordersapp:order_forming_complete' object.pk %}">
        {% csrf_token %}
        <button class="btn btn-warning btn-round form-control last" type="submit">совершить покупку</button>
    </form>
    <a class="btn btn-default btn-round form-control last" href="{% url 'ordersapp:order_delete' object.pk %}">удалить</a>
{% endif %}
<a class="btn btn-info btn-round form-control last" href="{% url 'ordersapp:orders_list' %}">к списку заказов</a>
<a class="btn btn-default btn-round form-control last" href="{% url 'main' %}">на главную</a>
