{% if object %}
    <div class="h2">Заказ №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i:s" }}</div>
    <hr>
    <div class="h4">заказчик: {{user.first_name|default:user.username}} </div>
    <div class="h4">обновлен: {{ object.updated|date:"Y-m-d H:i:s" }}</div>
    <div class="h4">cтатус: {{ object.get_status_display }}</div>
    <hr>
    {% with object.get_summary as summary %}
        <div class="h4">
            общее количество товаров: <span class="order_total_quantity">{{ summary.total_quantity }}</span>
        </div>
        <div class="h3">
            общая стоимость: <span class="order_total_cost">{{ summary.get_total_cost }}</span> руб
        </div>
    {% endwith %}
{% else %}
    <div class="h2">Новый заказ</div>
    <hr>
    <div class="h4">заказчик: {{user.first_name|default:user.username}} </div>
    <hr>
    <div class="h4">
        общее количество товаров: <span class="order_total_quantity"></span>
    </div>
    <div class="h3">
        общая стоимость: <span class="order_total_cost"></span> руб
    </div>
{% endif %}
<hr>