{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'basket1/css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'basket1/img/favicon.png' %}">
    <title>
        {% block title %}
            {% trans "Sneakers shop" %}
        {% endblock title %}
    </title>
</head>

<body>
    <div class="header">
        <div class="empty_block"></div>
        <div class="log_menu">
        <a href="/"><img src="{% static 'basket1/img/Screenshot from 2018-09-02 21-34-39.png' %}" alt="{% trans 'emblem' %}"></a>
        <div class="menu">
            <ul>
                <li><a href="{% url 'basket:mainView' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'basket:prodView' %}">{% trans 'Catalogue' %}</a></li>
                <li><a href="{% url 'basket:contView' %}">{% trans 'Contacts' %}</a></li>
                <li><a href="{% url 'accounts:login' %}">{% trans 'Authorization' %}</a></li>
            </ul>
        </div>
        </div>
        {% if user.is_authenticated %}
            <div class="basket">
                <a href="#">Basket</a>
                <a href="{% url 'accounts:logout' %}">{% trans 'Log out' %}</a>
            </div>
        {% else %}
            <div class="empty_block"></div>
        {% endif %}
    </div>
    <div class="container">
        {% block context %}

        {% endblock context %}
    </div>
    <div class="footer">
        <p>&copy;{% trans 'Copyright - Sneakers 2018. All rights reserved.' %}</p>
        <!--     <div class="icon_links">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div> -->
        <div class="terms">
            <a href="#">{% trans 'Terms &amp; conditions' %}</a>
            <p>/</p>
            <a href="#">{% trans 'Privacy policy &amp; cookies' %}</a>
        </div>
    </div>
</body>

</html>
