{% extends "./basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Catalogue" %}
{% endblock title %}

{% block context %}
    <div class="catalogue">
        <div class="row_1">
            {% for product in object_list|slice:":3" %}
                {% include 'basket1/includes/product.html' %}
            {% endfor %}
        </div>
        <div class="row_2">
            {% for product in object_list|slice:"3:6" %}
                {% include 'basket1/includes/product.html' %}
            {% endfor %}
        </div>
        <div class="row_3">
            {% for product in object_list|slice:"6:9" %}
                {% include 'basket1/includes/product.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock context %}
