<!DOCTYPE html>
{% load static i18n %}
<html>
{% block head %}
    {% include 'basket/includes/head.html' with name='Магазин' %}
{% endblock head %}
<body>
	<div class="container">
        {% block container %}
		<div class="slider">
			{% include 'basket/includes/header.html' with home=1 %}
			{% include './includes/snippets/messages.html' %}
			<div class="text-slider">
				<h3 class="green">{% trans 'тенденции' %}</h3>
				<h3 class="big"> {% trans 'удобные стулья' %}</h3>
				<p>{% trans 'Новый уровень комфорта. Отличные характеристики.' %}</p>
				<a href="#" class="button-order">{% trans 'заказать' %} <img src="{% static 'basket/img/arrow.png' %}" alt=""></a>
			</div>
			<div class="navi">
				<a href="#"></a><a href="#"></a><a href="#"></a>
			</div>
		</div>

		<div class="featured">
			<div class="featured-menu">
					<a class="active" href="#">{% trans 'Популярные' %}</a><a href="#">{% trans 'Новинки' %}</a>
			</div>
			<a class="explore" href="#">{% trans 'показать все' %} <img src="{% static 'basket/img/arrow.png' %}" alt=""></a>
			<div class="clearfix">
			</div>
            {% block tab_content %}{% endblock tab_content %}
		</div>

        {% endblock container %}

		<div class="clr"></div>

	</div>

	{% include 'basket/includes/footer.html' %}

</body>
</html>