{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Контакты' %}
{% endblock head %}

{% block container %}
		<div class="hero">
			{% include 'basket/includes/header.html' with cont=1 %}
			<h1>{% trans 'наши контакты' %}</h1>
		</div>

		<div class="location">
			{% for contact in object_list %}
				{% include 'basket/includes/location.html' %}
			{% endfor %}
		</div>
{% endblock container %}
