<!DOCTYPE html>
{% load static i18n invoice_tags %}
<html>
{% include 'basket/includes/head.html' with name='Заказы' %}
<body>
	<div class="container">

		<div class="hero">
			{% include 'basket/includes/header.html' %}
            {% include './includes/snippets/messages.html' %}
			<h1>{% trans 'ваши заказы' %}</h1>
		</div>

        {% include 'basket/includes/inc_order_list.html' %}

		<div class="clr"></div>
	</div>

	{% include 'basket/includes/footer.html' %}

</body>
</html>