{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Каталог' %}
{% endblock head %}

{% block container %}
		<div class="hero-white">
			{% include 'basket/includes/header.html' with prod=1 %}
		</div>

		<div class="details">
			{% include 'basket/includes/links_menu.html' %}
			{% include 'basket/includes/product_info.html' with product=object_list.0 %}

			<div class="related">
				<div class="title clearfix">
					<h2>{% trans 'Похожие продукты' %}</h2>
					<a class="explore" href="#">{% trans 'показать все' %} <img src="{% static 'basket/img/arrow.png' %}" alt=""></a>
				</div>
				<div class="related-products clearfix">
					{%if user.is_superuser or user.is_staff %}
						<div class="block">
							<a href="{% url 'basket:addProductView' cat_id|default:0 %}">{% trans 'Добавить' %}</a>
						</div>
					{% endif %}
					{% for product in object_list %}
						{% include 'basket/includes/high_quality_chair.html' %}
					{% endfor %}
				</div>

				<div class="paginator">
          			{% if page_obj.has_previous %}
						{% if cat_id %}
            				<a href="{% url 'basket:prodCategoryView' cat_id page_obj.previous_page_number %}"><</a>
						{% else %}
            				<a href="{% url 'basket:prodView' page_obj.previous_page_number %}"><</a>
						{% endif %}
          			{% endif %}
          			<span class="current">
            			страница {{ page_obj.number }} из
            			{{ page_obj.paginator.num_pages }}
          			</span>
          			{% if page_obj.has_next %}
						{% if cat_id %}
            				<a href="{% url 'basket:prodCategoryView' cat_id page_obj.next_page_number %}">></a>
						{% else %}
            				<a href="{% url 'basket:prodView' page_obj.next_page_number %}">></a>
						{% endif %}
          			{% endif %}
        </div>
      </div>

			</div>
		</div>
{% endblock container %}
