{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' with name='Удалить продукт' %}
{% endblock head %}

{% block container %}
        <form method="post">
            {% csrf_token %}
            <p>{% trans 'Вы уверены, что хотите удалить' %} "{{ object }}"?</p>
            <input type="submit" value="{% trans 'Удалить' %}">
        </form>
{% endblock container %}