<!DOCTYPE html>
{% load static i18n %}
<html>
{% include 'basket/includes/head.html' with name='Каталог' %}
<body>
	<div class="container">
		<div class="hero-white">
			{% include 'basket/includes/header.html' with prod=1 %}
		</div>

		<div class="details">
			{% include 'basket/includes/links_menu.html' with product=object %}
			{% include 'basket/includes/product_info.html' with product=object %}
		</div>

		<div class="clr"></div>

	</div>

	{% include 'basket/includes/footer.html' %}

</body>
</html>