{% extends "basket/base.html" %}
{% load static i18n %}

{% block head %}
    {% include 'basket/includes/head.html' %}
{% endblock head %}

{% block container %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Сохранить' %}">
        </form>

        {%if object %}
            <div class="details-slider">
                {% include 'basket/includes/snippets/pic_gallery.html' with images=object.pictures.all %}
            </div>
        {% endif %}
{% endblock container %}