{% load i18n %}
<div class="slider-control">
        {% for image in images %}
                <div class="block">
            <img src="{{image.image.url}}" alt="{{image.title}}" style="display:block;max-width:100%;max-heigth:100%;">
            <a href="{% url 'accounts:deleteAvatar' image.id %}"><div class="text" style="display:block;">{% trans 'удалить Картинку' %}</div></a></div>
        {% endfor %}
    <div class="block">
        <a href="{% url 'accounts:createAvatar' %}"><div class="text" style="display:block">{% trans 'добавить Картинку' %}</div></a>
    </div>
</div>